
@{
    Layout = null;
}

@model SimpleMVC.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {

    }
</body>
</html>
