
@model SimpleMVC.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Firs Name</dt>
        <dd>@Model.FirstName</dd>
        <dt>Last Name</dt>
        <dd>@Model.LastName</dd>
    </dl>
</body>
</html>
