<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Employee Management system</h1>
    <a href="http://localhost:57150/Employee/Index">View Employee List</a>
    <br />
    @Html.ActionLink("View Employee List","Index","Employee")
</body>
</html>
